/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 16, 2025, 1:42:17 PM
    Author     : admin
*/

.Main {
    -fx-background-color: lightblue;
    -fx-alignment:CENTER;
    -fx-spacing: 5;
    -fx-padding: 10;
}

.Title {
    -fx-fill: lightpink;
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-stroke: white;
    -fx-stroke-width: 2;
}

.Btn {
    -fx-font-size: 14;
    -fx-pref-width: 150;
    -fx-background-color: white;
    -fx-stroke: lightblue;
   
}